extends ../layout/logged-in

mixin actions(id, grandchild)
    a.btn-action(href="/content/view/#{id}"): span.glyphicon.glyphicon-eye-open
    if !grandchild
        a.btn-action(href="/content/add-child/#{id}"): span.glyphicon.glyphicon-plus
    a.btn-action(href="/content/edit/#{id}"): span.glyphicon.glyphicon-pencil
    a.btn-action(href="/content/delete/#{id}"): span.glyphicon.glyphicon-trash

mixin table-row(item, grandchild)
    - var statusClass = 'label-default'
    if item.status == 'draft'
        - statusClass = 'label-warning'
    if item.status == 'published'
        - statusClass = 'label-success'
    tr&attributes(attributes)
        td=item.title
        td=item.lead
        td: span.label(class=statusClass)=item.status
        td=item._author.fullName
        td=moment(item.modified).format('DD/MM/YYYY HH:mm')
        td: +actions(item.id, grandchild)
        td: a.btn-action(href="/api/content/#{item.id}"): span.glyphicon.glyphicon-cloud
        td
            if item.status == 'published'
                a.btn.btn-block.btn-warning(href="/content/draft/#{item.id}")
                    span.icon.icon-fire
                    | Unpublish
            if item.status == 'draft'
                a.btn.btn-block.btn-success(href="/content/publish/#{item.id}")
                    span.icon.icon-paperplane
                    | Publish

block content
        +messages(messages)
        .page-header
            h1
                | #{project.name} 
                small=project.url
        if content.length > 0
            table.table.table-content
                thead
                    tr
                        th Title
                        th Body
                        th Status
                        th Author
                        th Last modified
                        th Actions
                        th JSON
                        th Publish
                tbody
                    each item in content
                        +table-row(item)
                        if item.children.length > 0
                            each child in item.children
                                +table-row(child)(class="content-child")
                                if child.children.length > 0
                                    each c in child.children
                                        +table-row(c, true)(class="content-grandchild")
        else
            p This project has no content
        a.btn.btn-primary(href="/content/add") Add content
