extends ../layout/logged-in

block content
    h1=project.name
    h2=moment(project.created).format('DD/MM/YYYY')
    if content
        ul
            each item in content
                li
                    | #{item.title} 
                    a(href="/content/add-child/#{item._id}") Add content
                    if item.children.length > 0
                        ul
                            each child in item.children
                                li=child.title
                                    if child.children.length > 0
                                        ul
                                            each c in child.children
                                                li=c.title
    a(href="/content/add") Add content